{% extends "base.html" %}
{% load static %}
{% block titulo_pagina %} Listado de Personas {% endblock %}
{% block titulo_principal %} Consultorio Odontologico {% endblock %}
{% block titulo_secundario %} Listado de Personas {% endblock %}

{% block principal %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nro documento</th>
                <th>Localidad</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.num_doc }}</td>
                <td>{{ persona.localidad }}</td>
                <td><a href="{% url "modificar_persona" persona.num_doc %}"><img class="icono" src="{% static 'img/icnModificar.png' %}"> </a></td>
                <td><a href="{% url "eliminar_persona" persona.num_doc%}"><img class="icono" src="{% static 'img/icnEliminar.png' %}"></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

